<p>ng-for works!</p>

<div class="row">
    <div class="col-4">
        <app-progress-bar [progressValue]="80"></app-progress-bar>

    </div>
</div>

<!-- array of list -->
<div class="row">
    <div class="col-3">
        <ul>
            <li *ngFor="let city of cityList">{{city}}</li>
        </ul>
    </div>

    <div class="col-5">
        <button *ngFor="let city of cityList" class="btn btn-success mx-1" >
            {{city}}
        </button>
    </div>

    <div class="col-3">
        <div *ngFor="let city of cityList">
           <span>{{city}}</span>

        </div>
    </div>
</div>

<!-- array of objects -->
<div class="row">
    <div class="col-3">
       <select >
        <option *ngFor="let emp of employeeList" [value]="emp.id">
              {{emp.name}}  - {{emp.position}}
        </option>
       </select>
    </div>
    <div class="col-5">
       <table class="table table-bordered">
        <thead>
            <tr>
                <th>id</th>
                <th>name</th>
                <th>position</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let emp of employeeList;let sno=index">
                <td>{{sno+1}}</td>
                <td>{{emp.name | uppercase | na}}</td>
                <td>{{emp.position}}</td>
            </tr>
        </tbody>
       </table>

    </div>
</div>

<!-- pipes -->
 <div class="row">
    <div class="col-3">
        Course Name=>{{courseName}}
        <br>
        upper case=>{{courseName | uppercase}}
        <br>
        lowercase=>{{courseName | lowercase}}
        <br>

    </div>
    <div class="col-3">
        studentObj => {{studentObj}}
        <br>
        studentObj => {{studentObj | json}}
        <br>
        
    </div>

    <div class="col-3">
        current date=>{{currentDate}}
        <br>
        date only=>{{currentDate | date}}
        <br>
        date only in format=>{{currentDate | date :'dd-MMM-yy'}}
        <br>
        date only in format=>{{currentDate | date :'dd-mm-yyyy'}}
        <br>
        time=>{{currentDate | date :'hh-mm-ss'}}
    </div>

 </div>